<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <!-- 配置C3P0连接池  -->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        	<property name="driverClass" value="com.mysql.jdbc.Driver" />
        	<property name="jdbcUrl" value="jdbc:mysql:///androidweb" />
        	<property name="user" value="root" />
        	<property name="password" value="123" />
        </bean>
        
        <!-- 创建的对象 -->
        <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        	<property name="dataSource" ref="dataSource" />
        </bean>
        
        <bean id="userDao" class="net.codingme.spring.c3p0.UserDao">
        	<!-- 注入jdbc模版对象 -->
        	<property name="jdbcTemplate" ref="jdbcTemplate" />
        </bean>
        
        <bean id="userService" class="net.codingme.spring.c3p0.UserService">
        	<property name="userDao" ref="userDao" />
        </bean>
        
</beans>